* {
  font-family: "Roboto Mono", monospace;
  color: #423838;
}

li {
  list-style-type: '-';
}

/* .footer {
  background-color: transparent;
} */

a {
  text-decoration: underline;
  color: #423838;
}

a:hover {
  color: #3273dc;
}

.hello {
  font-size: 1.2rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.hero {
  flex: 1;
}